.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:3.120000px;}
._a{width:4.420000px;}
._8{width:8.684000px;}
._9{width:14.716000px;}
._7{width:76.284000px;}
._b{width:121.524000px;}
._c{width:164.840000px;}
._3{width:204.828000px;}
._4{width:279.916000px;}
._6{width:370.968000px;}
._5{width:425.828000px;}
._1{width:451.828000px;}
._2{width:483.600000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:48.000000px;}
.fs4{font-size:52.000000px;}
.fs3{font-size:58.000000px;}
.fs0{font-size:72.000000px;}
.fs1{font-size:82.000000px;}
.y1c{bottom:10.368002px;}
.y5{bottom:10.883006px;}
.y1f{bottom:13.599005px;}
.y1b{bottom:27.559004px;}
.y4{bottom:28.933002px;}
.y0{bottom:40.000000px;}
.y17{bottom:43.560043px;}
.y3{bottom:55.587002px;}
.y1e{bottom:69.213003px;}
.y2{bottom:79.885002px;}
.y1a{bottom:83.173002px;}
.y1d{bottom:96.601997px;}
.y19{bottom:108.364001px;}
.y18{bottom:123.313002px;}
.y16{bottom:301.906025px;}
.y15{bottom:319.844026px;}
.y14{bottom:349.782014px;}
.y13{bottom:379.720039px;}
.y12{bottom:397.658039px;}
.y11{bottom:415.596040px;}
.y10{bottom:445.534028px;}
.yf{bottom:467.957032px;}
.ye{bottom:490.380021px;}
.yd{bottom:512.803025px;}
.yc{bottom:535.226029px;}
.yb{bottom:557.649018px;}
.ya{bottom:580.072022px;}
.y9{bottom:610.010021px;}
.y8{bottom:627.948022px;}
.y7{bottom:665.204026px;}
.y6{bottom:682.978025px;}
.y1{bottom:722.343021px;}
.h5{height:34.382812px;}
.h7{height:36.130859px;}
.h6{height:39.308594px;}
.h3{height:50.695312px;}
.h4{height:57.736328px;}
.h9{height:81.600004px;}
.h2{height:96.857002px;}
.h8{height:135.700003px;}
.h1{height:779.500000px;}
.h0{height:841.900024px;}
.w3{width:203.800003px;}
.w2{width:211.300003px;}
.w1{width:503.000000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.xb{left:7.450000px;}
.x0{left:46.500000px;}
.x9{left:51.049999px;}
.x8{left:87.049999px;}
.x5{left:126.643002px;}
.x2{left:132.164001px;}
.x4{left:157.257004px;}
.x3{left:165.651001px;}
.x6{left:182.436001px;}
.x7{left:224.887005px;}
.xa{left:337.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:4.160000pt;}
._a{width:5.893333pt;}
._8{width:11.578667pt;}
._9{width:19.621333pt;}
._7{width:101.712000pt;}
._b{width:162.032000pt;}
._c{width:219.786667pt;}
._3{width:273.104000pt;}
._4{width:373.221333pt;}
._6{width:494.624000pt;}
._5{width:567.770667pt;}
._1{width:602.437333pt;}
._2{width:644.800000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:69.333333pt;}
.fs3{font-size:77.333333pt;}
.fs0{font-size:96.000000pt;}
.fs1{font-size:109.333333pt;}
.y1c{bottom:13.824003pt;}
.y5{bottom:14.510675pt;}
.y1f{bottom:18.132007pt;}
.y1b{bottom:36.745339pt;}
.y4{bottom:38.577337pt;}
.y0{bottom:53.333333pt;}
.y17{bottom:58.080058pt;}
.y3{bottom:74.116002pt;}
.y1e{bottom:92.284005pt;}
.y2{bottom:106.513336pt;}
.y1a{bottom:110.897337pt;}
.y1d{bottom:128.802663pt;}
.y19{bottom:144.485334pt;}
.y18{bottom:164.417336pt;}
.y16{bottom:402.541367pt;}
.y15{bottom:426.458701pt;}
.y14{bottom:466.376019pt;}
.y13{bottom:506.293386pt;}
.y12{bottom:530.210719pt;}
.y11{bottom:554.128053pt;}
.y10{bottom:594.045371pt;}
.yf{bottom:623.942710pt;}
.ye{bottom:653.840028pt;}
.yd{bottom:683.737367pt;}
.yc{bottom:713.634706pt;}
.yb{bottom:743.532024pt;}
.ya{bottom:773.429363pt;}
.y9{bottom:813.346695pt;}
.y8{bottom:837.264029pt;}
.y7{bottom:886.938702pt;}
.y6{bottom:910.637367pt;}
.y1{bottom:963.124029pt;}
.h5{height:45.843750pt;}
.h7{height:48.174479pt;}
.h6{height:52.411458pt;}
.h3{height:67.593750pt;}
.h4{height:76.981771pt;}
.h9{height:108.800006pt;}
.h2{height:129.142670pt;}
.h8{height:180.933337pt;}
.h1{height:1039.333333pt;}
.h0{height:1122.533366pt;}
.w3{width:271.733337pt;}
.w2{width:281.733337pt;}
.w1{width:670.666667pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.xb{left:9.933334pt;}
.x0{left:62.000000pt;}
.x9{left:68.066666pt;}
.x8{left:116.066666pt;}
.x5{left:168.857335pt;}
.x2{left:176.218669pt;}
.x4{left:209.676005pt;}
.x3{left:220.868001pt;}
.x6{left:243.248001pt;}
.x7{left:299.849340pt;}
.xa{left:450.399984pt;}
}
